<h2>Add a new experince to followers</h2>

<form action="/addcountry" method="POST" enctype="multipart/form-data">
    <label for="">Country</label>
    <input type="text" name="country" id="">
    <label for="">in what city was that?</label>
    <input type="text" name="city" id="">
    <label for="">what would you tell about this country?</label>
    <textarea name="article" id="" cols="30" rows="10"></textarea>
    <label for="">add a nice picture from there</label>
    <input type="file" name="imgURL" id=""> 
    <button type="submit">Submit</button>
</form>
