<h2>Felt inspired by my trips! Contact me and we might meet </h2>
<form action="" method="POST">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="email">
    <label for=""></label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button type="submit">Send</button>
</form>