<h2>Wonderful Trips</h2>

<div class="alltrips">
    <img src="./{{imgURL}}" alt="">
    <div class="texts">
        <h3>{{city}} / {{country}}</h3>
        <p>{{article}}</p>
    </div>
    <a href="/delete/">X</a>
</div>

<a href="/addnew">+ Add a new experince</a>